<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="logs" value="logs" />
    <property name="LOCATION" value="./" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX,Asia/Kolkata}] [%logger{10}] [%t] [%L] [%-5p] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="APP-LOGS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOCATION}/${logs}/disaster-media-log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOCATION}/${logs}/disaster-media-log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX,Asia/Kolkata}] [%logger{10}] [%t] [%L] [%-5p] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.easc01.disastermediaapi" level="DEBUG">
        <appender-ref ref="APP-LOGS" />
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>